body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 2px;
}
.note{
    font-size: 15px;
    color: black;
}
#music{
    font-size: 20px;
}
canvas{
    margin-top: 60px;
    border: solid white 3px;
    border-radius: 20px;
    background-color: black;
}